.contacts
{
    display: flex;
    flex-direction: column;
}

.contact-types {
    display: flex;
    flex-direction: row;
}

.contact-icons-images{
    padding-right: 10px;
}

.contact-type{
    color: #555555;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.contact-text{
    margin-top: 14px;
    margin-right: 200px;
    margin-left: 22px;
    padding-bottom: 35px;
    color: #555555;
    font-family: "Roboto Slab",sans-serif;
    font-size: 12px;
    font-weight: 600;
}


.input-window-small-top{
    margin-bottom: 20px;
    display: flex;

}

.input-window-big{
    margin-top: 20px;
}

.input-name, .input-write-message{
    margin-right: 25px;
    padding-left: 20px;
    border: 2px solid #555555;

}

.input-name:focus, .input-write-message:focus{
    outline: none;
    border-color: #c0301c;
}

.input-name{
    width: 42%;
    height: 44px;
}

.input-write-message{
    margin-top: 20px;
    width: 715px;
    height: 104px;
    padding-top: 20px;
    font-family: "Roboto Slab" ,sans-serif;
}

.submit-text{
    color: #555555;
    font-family: "Roboto Slab" ,sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 24px;
}

.cont{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}