/* Container needed to position the button. Adjust the width as needed */
.work-images {
    position: relative;
}

/* Make the image responsive */
.work-images img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.work-images .image-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.work-images .image-button:hover {
    background-color: black;
}