.item {
    text-align: center;
    font-size: 14px;
}

.item-image {

}

.item-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 29px 0 24px 0;
}

.item-text {

}
