.page-header {
    height: 100vh;
    background-image: url("../images/header.jpg");
}

.header-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.header-content {
    color: #fff;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content-title {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header-content-subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.header-content-btn {
    margin-top: 50px;
    text-transform: uppercase;
}
