.page-bottom {

    background-color: #c0301c;
    text-align: center;
}

.content-image{

    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
}

.bird-image{
    padding-top: 10px;
}

.images {
    position: relative;
    display: inline-block;
}

.bottom-title::after {
    content: "";
    background-color: #ffffff;
    width: 50px;
    height: 2px;
    margin: 29px auto;
    display: block;
}

.bottom-subtitle
{
    color: #ffffff;
    font-family: "Roboto Slab",sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}